@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');


body {
	background-color: #1e1e1e;
	color: #eee;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 11px;
}

#content {
	width: 512px;
	padding: 32px;
	margin: 0 auto;
}

a {
        color:#eee;
}

h1 {
	font-size: 26px;
	display: inline;
}

h2 {
	font-size: 13px;
	font-style: italic;
	display: inline;
}

h3 {
	font-size: 14px;
	padding: 0 0 0 16px;
	color: #acacac;
	font-style: italic;
	display: inline;
	float: right;
}

.center {
	margin: 24px auto;
	padding: 0 auto;
	display: block;
}

a {
	text-decoration: none;
}

a.hover {
	color: #ccc;
}
