
body {
	background-color: #1e1e1e;
	color: #eee;
	font-family: 'Hack', monospace;
	font-size: 13px;
	font-style: italic;
	background: url('./img/bg.png') fixed repeat;
}

#content {
	width: 640px;
	padding: 32px;
	margin: 0 auto 24px;
}
#header {
	position: relative;
}
#nav {
	position: absolute;
	right: 0;
	bottom: 3px;
	display: inline;
}

a {
        color:#eee;
}

h1 {
	font-size: 26px;
}

#header h1 {
	display: inline;
	font-weight: 300;
}

h2 {
	font-size: 13px;
	font-style: italic;
}

#header h2 {
	display: inline;
	font-weight: 300;
}


h3 {
	font-size: 13px;
	color: #acacac;
	font-style: italic;
}

#header h3 {
	padding: 0 0 0 12px;
	display: inline;
	font-weight: 300;
}

.center {
	margin: 24px auto;
	padding: 0 auto;
	display: block;
}

#header a {
	text-decoration: none;
}

a:hover {
	color: #ccc;
}
