body {

 background-color: #fff;
 color: #444;
 font-family: Markazi Text, serif;
 font-size: 12px;
 line-height: 18px;
 font-weight: 400;
 }

 #wrap {
 width: 800px;
 margin: 0 auto;
 padding: 0 auto;
 }

 #header {
 padding-top: 18px;
 }

 #skills, #summary, #exp, #edu {
 margin: 5px 0 0px 0;
 }

 .section {
 margin: 0 0 8px 0 }

 .references {
 font-style: italic;
 color: #666;
 /* hell yeah */ }

 .left {
 float: left;
 text-align: center;
 width: 5%;
 border-right: solid 1px #ccc;
 height: 72px;
 }

 .right {
 float: left;
 width: 90%;
 margin-left: 3%;
 margin-bottom: 20px;
 }

 /* Fonts */ 
 
 h1 {
 font-weight: 500;
 font-size: 24px;
 display: inline;
 vertical-align: -6px;

 }

 h2 {
 font-weight: 500;
 font-size: inherit;
 padding: 0;
 margin: 0;
 font-style: italic;
 }

 h3 {
 font-weight: 500;
 font-size: inherit;
 padding: 0;
 margin: 0;
 }

 a {
 color: #333;
 text-decoration: none;
 }

 ul {
 padding: 0;
 margin: 0 0 0px 18px;
 list-style-type: circle;
 }



 #header ul, #header li {
 list-style-type: none;
 padding: 10px 8px 0 6px;
 margin: 0;
 display: inline;
 float: right;
 vertical-align: baseline;
 position: relative;
 top: 1px;
 }

 #header img {
 display: inline;
 vertical-align: baseline;
 position: relative;
 top: 2px;
 padding-right: 12px;
 }

 .job {
 list-style-type: none;
 }

 .title {
 font-weight: 600;
 }

 .locationtime {
 font-style: italic;
 }

li {
   padding-bottom: 2px;
   }

li.solid {
    list-style-type: disc;
}

.blank {
    list-style-type: none
}
.em {
    font-style: italic;
    }